<% scripts.push('/libs/socket.io/socket.io.min.js', '/disk.js', '/libs/jquery.nyroModal.custom.min.js') %>
<% stylesheets.push('/nyroModal.css') %>
<section id="disk" style="display: none;">
</section>
<div id="div-vlc" style="display: none;">
    <embed id="vlc" name="vlc" width="640" height="480" pluginspage="http://www.videolan.org" type="application/x-vlc-plugin" />
    <object style="width:0px;height:0px;" classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"></object>
</div>


