<% stylesheets.push('/remote/remote-nav.css') %>
<% scripts.push('/remote/remote-nav.js') %>

<div id="cross">
    <div class="first-line">
        <div>
            <a id="cross-up" href="#"><img alt="up" src="/images/remote/up.png"></a>
        </div>
    </div>
    <div class="second-line">
        <div><a id="cross-left" href="#"><img alt="left" src="/images/remote/left.png"></a></div>
        <div><a id="cross-enter" href="#"><img alt="down" src="/images/remote/enter.png"></a></div>
        <div><a id="cross-right" href="#"><img alt="right" src="/images/remote/right.png"></a></div>
    </div>
    <div class="second-line">
        <div><a id="cross-return" href="#"><img alt="return" src="/images/remote/return.png"></a></div>
        <div><a id="cross-down" href="#"><img alt="up" src="/images/remote/down.png"></a></div>
        <div><a id="cross-refresh" href="#"><img alt="return" src="/images/remote/refresh.png"></a></div>
    </div>
</div>

