<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" />
        <title>ViZion Remote</title>
        <link href="/stylesheets/remote/remote.css" rel="stylesheet" type="text/css">
        <script src="/javascripts/libs/jquery.min.js"></script>
        <script src="/javascripts/libs/jquery-ui.min.js"></script>
        <script src="/javascripts/libs/jquery.tappable.min.js"></script>
        <script src="/javascripts/libs/socket.io/socket.io.min.js"></script>
        <script src="/javascripts/remote/remote.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="cell3"><a href="#" id="fb"><img alt="fb" src="/images/remote/fb.png"></a></div>
            <div class="cell3"><a href="#" id="play"><img alt="play" src="/images/remote/play.png"></a></div>
            <div class="cell3"><a href="#" id="pause"><img alt="pause" src="/images/remote/pause.png"></a></div>
            <div class="cell3"><a href="#" id="ff"><img alt="ff" src="/images/remote/ff.png"></a></div>
        </div>
        <table>
            <tr>
                <td></td>
                <td class="cross cross-up"><a href="#" id="cross-up"><img alt="up" src="/images/remote/up.png"></a></td>
                <td></td>
            </tr>
            <tr>
                <td class="cross cross-up"><a href="#" id="cross-left"><img alt="left" src="/images/remote/left.png"></a></td>
                <td class="cross"><a href="#" id="enter">OK</a></td>
                <td class="cross cross-up"><a href="#" id="cross-right"><img alt="right" src="/images/remote/right.png"></a></td>
            </tr>
            <tr>
                <td></td>
                <td class="cross"><a href="#" id="cross-down"><img alt="down" src="/images/remote/down.png"></a></td>
                <td></td>
            </tr>
        </table>
        <div class="row">
            <div class="cell3"><a href="#" id="return"><img alt="return" src="/images/remote/return.png"></a></div>
            <div class="cell3"><a href="#" id="kb"><img alt="kb" src="/images/remote/kb.png"></a></div>
            <div class="cell3"><a href="#" id="fs"><img alt="kb" src="/images/remote/fs.png"></a></div>
            <div class="cell3">
                <a href="#" id="mute"><img alt="mute" src="/images/remote/mute.png"></a>
                <a href="#" id="unmute" style="display: none;"><img alt="mute" src="/images/remote/unmute.png"></a>
            </div>
        </div>
        <div id="time-panel" class="panel" style="display: none;">
            <p><span id="time">00:00:00</span><br>/<br/><span id="total-time">00:00:00</span></p>
        </div>
        <div id="keyboard-panel" class="panel" style="display: none;">
            <input type="text" id="keyboard" />
        </div>
    </body>
</html>
