<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>ViZion Remote</title>
        <link href="/stylesheets/remote/remote.css" rel="stylesheet" type="text/css">
        <script src="/javascripts/libs/jquery.min.js"></script>
        <script src="/javascripts/libs/jquery-ui.min.js"></script>
        <script src="/javascripts/libs/jquery.tappable.min.js"></script>
        <script src="/javascripts/libs/socket.io/socket.io.min.js"></script>
        <script src="/javascripts/remote/remote.js"></script>
    </head>
    <body ontouchmove="event.preventDefault();">
        <div class="bar">
            <div class="touch"><button id="fb">Fast backward</button></div>
            <div class="touch"><button id="play">Play</button></div>
            <div class="touch"><button id="pause">Pause</button></div>
            <div class="touch"><button id="ff">Fast Forward</button></div>
        </div>
        <div class="cross">
            <div class="top">
                <div class="touch"></div>
                <div class="touch"><button id="up">Up</button></div>
                <div class="touch"><button id="volup">Up</button></div>
            </div>
            <div class="middle">
                <div class="touch"><button id="left">Left</button></div>
                <div class="touch"><button id="ok">OK</button></div>
                <div class="touch"><button id="right">Right</button></div>
            </div>
            <div class="bottom">
                <div class="touch"></div>
                <div class="touch"><button id="down">Down</button></div>
                <div class="touch"><button id="voldown">Down</button></div>
            </div>
        </div>
        <div class="bar">
            <div class="touch"><button id="return"></button></div>
            <div class="touch"><button id="search"></button></div>
            <div class="touch"><button id="fs"></button></div>
            <div class="touch"><button id="mute" class="off"></button></div>
        </div>
        <div id="time-panel" class="panel" style="display: none;">
            <p><span id="time">00:00:00</span><br>/<br/><span id="total-time">00:00:00</span></p>
        </div>
        <div id="search-panel" class="panel" style="display: none;">
            <p>Search</p>
            <input type="text" id="searchInput" />
        </div>
    </body>
</html>
