<% stylesheets.push('/remote/remote-player.css') %>
<% scripts.push('/remote/remote-player.js') %>

<div id="player">
    <div class="first-line">
        <div>
            <a id="play" href="#"><img alt="up" src="/images/remote/play.png"></a>
        </div>
    </div>
    <div class="second-line">
        <div><a id="backward" href="#"><img alt="left" src="/images/remote/backward.png"></a></div>
        <div><a id="stop" href="#"><img alt="down" src="/images/remote/stop.png"></a></div>
        <div><a id="forward" href="#"><img alt="right" src="/images/remote/forward.png"></a></div>
    </div>
</div>
