<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no;" />
        <link href="/stylesheets/remote/remote-layout.css" rel="stylesheet" type="text/css">
        <%- renderStyleSheetTags(stylesheets) %>
        <script src="/javascripts/libs/jquery.min.js"></script>
        <script src="/javascripts/libs/socket.io/socket.io.min.js"></script>
        <script src="/javascripts/remote/remote-layout.js"></script>
        <%- renderScriptsTags(scripts) %>
        <title>Remote</title>
    </head>
    <body>
        <%- body %>
    </body>
</html>
