body {
    position: relative;
    padding-top: 90px;
}

.nyroModalCont {
    background: #000;
}

.button-item.selected {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    text-shadow: none;
}

.breadcrumb a.selected, a.selected, .navbar .nav > li > a.selected, .navbar .nav-collapse.in .nav li > a.selected, .navbar a.selected {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #33B5E5, 0 0 70px #33B5E5, 0 0 80px #33B5E5, 0 0 100px #33B5E5, 0 0 150px #33B5E5;
}

.button-item {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.button-item p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#loading {
    margin-top: 10px;
}

.hero-unit {
    padding: 30px;
}
