body {
    position: relative;
    padding-top: 90px;
}

.button-item.selected {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}

.button-item {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.button-item p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#loading {
    margin-top: 10px;
}

.hero-unit {
    padding: 30px;
}
