html, body {
    width: 100%;
    height: 100%;
    min-height: 480px;
    margin: 0;
    padding: 0;
}

body {
    /* IE10 Consumer Preview */
    background-image: -ms-radial-gradient(center, circle farthest-corner, #252A30 0%, #060606 100%);
    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center, circle farthest-corner, #252A30 0%, #060606 100%);
    /* Opera */
    background-image: -o-radial-gradient(center, circle farthest-corner, #252A30 0%, #060606 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #252A30), color-stop(1, #060606));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #252A30 0%, #060606 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle farthest-corner at center, #252A30 0%, #060606 100%);
    text-align: center;
}

/*tweak to enable GPU*/
/*{
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}*/


button {
    padding: 0;
    border: 0;
    background: transparent no-repeat center center;
    text-indent: -9999px;
}

.bar {
    width: 100%;
    font-size: 0;
}

.bar .touch {
    display: inline-block;
    width: 25%;
}

.bar button {
    width: 60px;
    height: 60px;
    background-size: 40px 40px;
}

.cross {
    font-size: 0;
}

.cross > div {
    width: 100%;
    font-size: 0;
}

.cross .touch {
    display: inline-block;
    margin: 2px;
    width: 30%;
    vertical-align: top;
    background-color: #131517;
    border-top: solid 1px #353535;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.cross .middle .touch:nth-child(2) {
    border-top: solid 1px transparent;
}

.cross button {
    width: 80px;
    height: 80px;
    background-size: 60px 60px;
}

#fb {
    background-image: url(/images/remote/fb.png);
}

#play {
    background-image: url(/images/remote/play.png);
}

#pause {
    background-image: url(/images/remote/pause.png);
}

#ff {
    background-image: url(/images/remote/ff.png);
}

#up {
    background-image: url(/images/remote/up.png);
}

#left {
    background-image: url(/images/remote/left.png);
}

#ok {
    text-indent: 0;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #33B5E5, 0 0 70px #33B5E5, 0 0 80px #33B5E5, 0 0 100px #33B5E5, 0 0 150px #33B5E5;
}

#right {
    background-image: url(/images/remote/right.png);
}

#down {
    background-image: url(/images/remote/down.png);
}


#return {
    background-image: url(/images/remote/return.png);
}

#search {
    background-image: url(/images/remote/search.png);
}

#fs {
    background-image: url(/images/remote/fs.png);
}

#mute.off {
    background-image: url(/images/remote/mute.png);
}

#mute.on {
    background-image: url(/images/remote/unmute.png);
}


.cell6 {
    width: 50%;
}

a {
    text-decoration: none;
    color: #fff;
}

.panel {
    border-top: solid 1px #353535;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    color: #fff;
    font-family: 'Droid Sans', sans-serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #33B5E5, 0 0 70px #33B5E5, 0 0 80px #33B5E5, 0 0 100px #33B5E5, 0 0 150px #33B5E5;
    font-size: 30px;
    line-height: 30px;
}

.panel input {
    width: 75%;
    font-size: 1em;
}
